{% extends 'accounts/base.html' %} {% block title %}Calendar{% endblock %}
{% block content %}
{% load static %}


<div class="jumbotron calendar-sections">

    <section class="calendar-section container" style="position:relative">
        <h2 class="display-5">Calendar</h2>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>

        <div style="position:relative" id="calendar"></div>
    </section>
    <hr id="consult" style="border: none;">
</div>

{% include 'accounts/components/consultation.html' %}


<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/evo-calendar@1.1.2/evo-calendar/js/evo-calendar.min.js"></script>
<script type="text/javascript" src="{% static '/js/admin.js' %}"></script>
<script>
    var item = JSON.parse(jsonstr)

    function myFunction(item) {
        for (const x of item) {
            x.date = x.date.split(':')

        }
        return item
    }


    $(document).ready(function () {
        $('#calendar').evoCalendar({
            theme: "Orange Coral",
            todayHighlight: true,
            format: 'yyyy,mm,dd',
            eventHeaderFormat: 'MM d, yyyy',
            calendarEvents: myFunction(item)


        });
    })


</script>

{% endblock %}