{% extends 'accounts/base.html' %} {% block title %}Patient{% endblock %}
{% block content %}

<a type="button" href="#top" class="goto-about" aria-label="Back to top" title="Back to top">Top</a>
<div class="container mt-3 d-lg-none w-100" style="color:#858796">
    <div class="card mb-3 w-100" style="height: fit-content;">
        <div class="card-body">
            <div class="d-flex flex-row justify-content-around align-items-center">
                <img class="avatar ">
                <div class="text-center" style="line-height: 0.2;padding: 0;">
                    <p>Welcome</p>
                    <hr>
                    <h4 class="font-poppins" style="line-height: 0.2;padding: 0; ">{{patient.name}}</h4>
                </div>

                <div class="nav-item dropdown d-lg-none">
                    <a class="nav-link dropdown-toggle page-button" href="#" id="navbarDropdown" type="button"
                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                    <div class="dropdown-menu" style="z-index: 9999;" id="becth" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Logout</a>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="dis-lg-block  w-100 mb-5" style="color:#858796">
    <div class="container w-100 pb-3 dis-lg-block flex-grow-1 d-flex flex-column flex-sm-row overflow-auto mt-3">
        <div class="row flex-grow-sm-1 flex-grow-0">
            <aside class="col-sm-3  ">
                <div class=" d-flex row justify-content-evenly bg-light rounded-3 p-4 dis-ls-block scroll-bar-hide">
                    <div class="w-100 ">
                        <div class="card mb-3 w-100 d-none d-lg-block" style="height: fit-content;">
                            <div class="card-body">
                                <div class="d-flex flex-row justify-content-around align-items-center"
                                    style="padding: 0;">
                                    <img class="avatar px-1">
                                    <div class="text-center " style="line-height: 0.2;padding: 0;">
                                        <p>Welcome</p>
                                        <hr>
                                        <h4 class="" style="line-height: 0.2;padding: 0;">{{patient.name}}</h4>
                                    </div>

                                    <div class="nav-item dropdown d-lg-none">
                                        <a class="nav-link dropdown-toggle page-button" href="#" id="navbarDropdown"
                                            role="button" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false"><i class="fs-5 fas fa-gear mx-3 "></i></a>
                                        <div class="dropdown-menu" id="becth" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="#">Logout</a>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <ul class="nav nav-pills  w-100 flex-sm-column   flex-row mb-auto justify-content-around "
                            style="color:#858796">
                            <li class="nav-item ">
                                <button
                                    class="nav-link d-flex flex-row mb-2 active border text-left align-items-center w-100 px-1"
                                    id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home"
                                    type="button" role="tab" aria-controls="v-pills-home" aria-selected="true"><i
                                        class=" fas fa-home mx-3"></i><span class="d-none d-lg-block">Overview</span>
                                </button>
                            </li>
                            <li class="nav-item">
                                <button
                                    class="nav-link d-flex flex-row mb-2 border text-left align-items-center w-100 px-1"
                                    id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile"
                                    type="button" role="tab" aria-controls="v-pills-profile" aria-selected="true"><i
                                        class="fs-5 fas fa-user mx-3"></i><span
                                        class="d-none d-lg-block">Schedule</span>
                                </button>
                            </li>
                            <li class="nav-item">
                                <button
                                    class="nav-link d-flex flex-row mb-2 border text-left align-items-center w-100 px-1"
                                    id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages"
                                    type="button" role="tab" aria-controls="v-pills-message" aria-selected="true"><i
                                        class="fs-5 fas fa-envelope mx-3"></i><span
                                        class="d-none d-lg-block">Orders</span>
                                </button>
                            </li>
                            <li class="nav-item">
                                <button
                                    class="nav-link d-flex flex-row mb-2 border text-left align-items-center w-100 px-1"
                                    id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings"
                                    type="button" role="tab" aria-controls="v-pills-settings" aria-selected="true"><i
                                        class="fs-5 fas fa-gear mx-3"></i><span
                                        class="d-none d-lg-block">Payments</span>
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class=" w-100  d-none d-lg-block">
                        <a class=" btn text-white page-button  d-flex flex-row  border text-left align-items-center w-100"
                            type="button" href="{% url 'home' %}"><i class="fs-5 fas fa-gear mx-3 "></i><span
                                class="	d-md-none d-lg-block">Logout</span> </a>
                    </div>

                </div>
            </aside>

            <div id="gen-info" class="tab-content col overflow-auto h-100 scroll-bar-hide" id="v-pills-tabContent">
                <div class="tab-pane fade show active scroll-bar-hide" id="v-pills-home" role="tabpanel"
                    aria-labelledby="v-pills-home-tab">
                    <h1 class="mt-4 font-poppins">General Information</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="index.html">Patient</a></li>
                        <li class="breadcrumb-item active ">John Doe</li>
                    </ol>
                    <div class="card my-4 d-none d-lg-block">
                        <div class="card-body">
                            Chart.js is a third party plugin that is used to generate the charts in this template. The
                            charts below have been customized - for further customization options, please visit the
                            official
                            <a target="_blank" href="https://www.chartjs.org/docs/latest/">Chart.js documentation</a>
                            .
                        </div>
                    </div>
                    <p>Sriracha biodiesel taxidermy organic post-ironic, Intelligentsia salvia mustache 90's code
                        editing brunch. Butcher polaroid VHS art party, hashtag Brooklyn deep v PBR narwhal sustainable
                        mixtape swag wolf squid tote bag. Tote bag cronut semiotics, raw denim deep v taxidermy
                        messenger bag. Tofu YOLO Etsy, direct trade ethical Odd Future jean shorts paleo. Forage
                        Shoreditch tousled aesthetic irony, street art organic Bushwick artisan cliche semiotics ugh
                        synth chillwave meditation. Shabby chic lomo plaid vinyl chambray Vice. Vice sustainable
                        cardigan, Williamsburg master cleanse hella DIY 90's blog.</p>


                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <h1 class="mt-4 font-poppins">Schedule</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="index.html">Patient</a></li>
                        <li class="breadcrumb-item active">John Doe</li>
                    </ol>
                    <div class="card my-4 d-none d-lg-block">
                        <div class="card-body">
                            Chart.js is a third party plugin that is used to generate the charts in this template. The
                            charts below have been customized - for further customization options, please visit the
                            official
                            <a target="_blank" href="https://www.chartjs.org/docs/latest/">Chart.js documentation</a>
                            .
                        </div>
                    </div>
                    <p>Ethical Kickstarter PBR asymmetrical lo-fi. Dreamcatcher street art Carles, stumptown gluten-free
                        Kickstarter artisan Wes Anderson wolf pug. Godard sustainable you probably haven't heard of
                        them, vegan farm-to-table Williamsburg slow-carb readymade disrupt deep v. Meggings seitan Wes
                        Anderson semiotics, cliche American Apparel whatever. Helvetica cray plaid, vegan brunch Banksy
                        leggings +1 direct trade. Wayfarers codeply PBR selfies. Banh mi McSweeney's Shoreditch selfies,
                        forage fingerstache food truck occupy YOLO Pitchfork fixie iPhone fanny pack art party Portland.
                    </p>
                    <hr />
                </div>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                    <h1 class="mt-4 font-poppins">Orders</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="index.html">Patient</a></li>
                        <li class="breadcrumb-item active">{{patient.name}}</li>
                    </ol>
                    <div class="card my-4 d-none d-lg-block">
                        <div class="card-body">
                            Chart.js is a third party plugin that is used to generate the charts in this template. The
                            charts below have been customized - for further customization options, please visit the
                            official
                            <a target="_blank" href="https://www.chartjs.org/docs/latest/">Chart.js documentation</a>
                            .
                        </div>
                    </div>
                    <div class="card  mb-4">

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Phone</th>
                                            <th>Email</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order in orders%}
                                        <tr>
                                            <td>{{order.product}}</td>
                                            <td>{{order.phone}}</td>
                                            <td>{{order.email}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <p>Sriracha biodiesel taxidermy organic post-ironic, Intelligentsia salvia mustache 90's code
                        editing brunch. Butcher polaroid VHS art party, hashtag Brooklyn deep v PBR narwhal sustainable
                        mixtape swag wolf squid tote bag. Tote bag cronut semiotics, raw denim deep v taxidermy
                        messenger bag. Tofu YOLO Etsy, direct trade ethical Odd Future jean shorts paleo. Forage
                        Shoreditch tousled aesthetic irony, street art organic Bushwick artisan cliche semiotics ugh
                        synth chillwave meditation. Shabby chic lomo plaid vinyl chambray Vice. Vice sustainable
                        cardigan, Williamsburg master cleanse hella DIY 90's blog.
                    </p>
                </div>
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    <h1 class="mt-4 font-poppins">Payments</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="index.html">Patient</a></li>
                        <li class="breadcrumb-item active">John Doe</li>
                    </ol>
                    <div class="card my-4 d-none d-lg-block">
                        <div class="card-body">
                            Chart.js is a third party plugin that is used to generate the charts in this template. The
                            charts below have been customized - for further customization options, please visit the
                            official
                            <a target="_blank" href="https://www.chartjs.org/docs/latest/">Chart.js documentation</a>
                            .
                        </div>
                    </div>
                    <p>Ethical Kickstarter PBR asymmetrical lo-fi. Dreamcatcher street art Carles, stumptown gluten-free
                        Kickstarter artisan Wes Anderson wolf pug. Godard sustainable you probably haven't heard of
                        them, vegan farm-to-table Williamsburg slow-carb readymade disrupt deep v. Meggings seitan Wes
                        Anderson semiotics, cliche American Apparel whatever. Helvetica cray plaid, vegan brunch Banksy
                        leggings +1 direct trade. Wayfarers codeply PBR selfies. Banh mi McSweeney's Shoreditch selfies,
                        forage fingerstache food truck occupy YOLO Pitchfork fixie iPhone fanny pack art party Portland.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr id="consult" style="border: none;">
</div>

{% include 'accounts/components/consultation.html' %}

{% endblock %}